@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
}

.headline {
  margin: 50px 40px;
  padding: 20px;
}

.headline h1 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  color: cornflowerblue; 
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); 
}

.headline p {
  margin-bottom: 20px;
  line-height: 2;
}

.title {
  margin-top: 20px;
  font-size: 28px;
  color: cadetblue;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.nav-link {
  color: cadetblue;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover,
.nav-link:focus {
  background-color: rgba(22, 81, 83, 0.1);
  color: cadetblue;
}

button{
  background-color: cadetblue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

button:hover {
  background-color: #2674b3;
  transform: scale(1.1);  
  border-radius: 10px;
    border-radius: 15px;
}

button:focus {
  outline: none;
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

.refresh-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.refresh-button:hover {
  background-color: #2674b3;
}

.material-icons {
  font-size: 20px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.ip {
  margin: 50px 40px;
}

.ip button {
  margin: 20px 0;
}
.ip p {
  margin-bottom: 20px;
}

.ip p img {
  width: 75px;
  height: 50px;
  border: 1px solid rgb(168, 166, 166);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.quote-container {
  margin: 100px auto;  
  text-align: center;
  padding: 50px;
  border: 1px solid rgb(100, 149, 237);
  box-shadow: 2px 5px 15px rgb(100, 149, 237, 0.3);
  width: 50%;
  border-radius: 10px;
}

.quote-text {
  margin-bottom: 50px; 
  font-size: 34px;
  }

.quote {
  text-align: center;
  font-size: 20px;
  color: #2674b3;}

.activity {
  margin: 100px auto;
    text-align: center;
    padding: 50px;
    border: 1px solid rgb(100, 149, 237);
    box-shadow: 2px 5px 15px rgb(100, 149, 237, 0.3);
    width: 50%;
    border-radius: 10px;
}

.activity h3 {
  margin: 20px 0; 
}

.activity button {
  margin: 20px 0;
}

.activity p {
  font-size: 18px;
  margin-bottom: 20px;
}

.activity-text {
  color: #2674b3;
  font-weight: 400; 
  font-size: 20px;
}

.password {
  margin: 100px auto;
    text-align: center;
    padding: 50px;
    border: 1px solid rgb(100, 149, 237);
    box-shadow: 2px 5px 15px rgb(100, 149, 237, 0.3);
    width: 50%;
    border-radius: 10px;
}

.password h3 {
  margin: 20px 0;  
}

.password button {
  margin: 20px 0;
}

.password p {
  font-size: 24px;
  margin-bottom: 20px;
  color: #2674b3;
  font-weight: 300;
}

.dictionary {
  margin: 100px auto;
    text-align: center;
    padding: 50px;
    border: 1px solid rgb(100, 149, 237);
    box-shadow: 2px 5px 15px rgb(100, 149, 237, 0.3);
    width: 50%;
    border-radius: 10px;
}

input {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid rgb(100, 149, 237);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.dictionary button {
  margin: 20px 0;
}

.zipcode {
  margin: 100px auto;
    text-align: center;
    padding: 50px;
    border: 1px solid rgb(100, 149, 237);
    box-shadow: 2px 5px 15px rgb(100, 149, 237, 0.3);
    width: 50%;
    border-radius: 10px;
}

.zipcode button {
  margin: 20px 0;
}
